.updateDate{
    font-size: 13px;
}
.graphsParent{
    height: 300px;
}
th{
    // padding:12px;
    font-size: 15px;
}
td{
    a{
        text-decoration: underline;
    }
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.percentage{
    font-size: 10px;
    display: block;
}

.flagImg{
    width: 60px !important; 
    height: 60px !important;  
    border-radius: 50%;
}

#swichSpan{
    cursor: pointer;
    font-size: 12px;
}
.span{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and(max-width:640px){
    .flagImg{
        float: none !important;   
        display: block !important;
        margin: 0 auto !important;
    }
    .row {
        margin-left:  0px !important;
        margin-right:  0px !important;
    }
}

