.updateDate{
    font-size: 13px;
}
.graphsParent{
    height: 300px;
}
th{
    // padding:12px;
    font-size: 15px;
}
td{
    a{
        text-decoration: underline;
    }
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.percentage{
    font-size: 10px;
    display: block;
}

.flagImg{
    width: 100px !important;   
}

@media screen and(max-width:640px){
    .flagImg{
        float: none !important;   
    }
}

