<div class="p-sm-5 p-lg-5">
    <button class="btn btn-sm btn-info p-1" routerLink="">Go Back</button>
    <h3 class="text-center p-3">Covid-19 Live Statistics {{countryData.country}}</h3>
    <app-loading *ngIf="allDataLoading"></app-loading>
    <div class="alert alert-danger text-center" *ngIf="overAllError">
        <div class="alert-heading font-weight-bold d-inline-block">OOPS!!</div>
        <p class="d-inline-block ml-1">
          Could not load some of the data!
          <span class="alert-link span" (click)="refresh()">please try again.</span>
        </p>
    </div>
    <div class="alert alert-danger text-center" *ngIf="notFoundError">
        <div class="alert-heading font-weight-bold d-inline-block">OOPS!!</div>
        <p class="d-inline-block ml-1">
          Invalid URL, the country is not in the list!
          <span class="alert-link span" routerLink="">Back to country list.</span>
        </p>
    </div>
    <div class="bg-white py-lg-4 pl-lg-2 pr-lg-2 rounded" *ngIf="!overAllError && !allDataLoading && countryData && !notFoundError">
        <div class="card" style="border: 0px;">
            <div class="card-header text-center">
                <div class="">
                    <img src="{{countryData.countryInfo?.flag}}" loading="lazy" alt="flag"
                        class="float-left img-fluid d-inline-block flagImg">
                    <h3 class="d-inline-block">
                        {{countryData.country}} Cases
                        <small class="text-muted updateDate d-block">
                            (Last Update: {{ countryData.updated | date:'MMM d, y, h:mm:ss a' }})
                        </small>
                    </h3>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-12 row mb-3 text-center p-3">
                    <div class="col-lg-4 font-weight-bold">
                        <strong>Total Cases: <span>{{ countryData.cases | number }}</span></strong>
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="col-lg-4 font-weight-bold">
                        <strong>Total Deaths: <span class="text-muted">{{ countryData.deaths |number }}</span></strong>
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="col-lg-4 font-weight-bold">
                        <strong>Total Recovered: <span
                                class="text-success">{{ countryData.recovered | number }}</span></strong>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="col-lg-4 card p-0 text-center">
                    <div class="card-header font-weight-bold">
                        Active Cases
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ countryData.active | number }}
                            <small class="text-muted d-block">Currently Infected Patients</small>
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <p class="card-text">
                                    <span class="font-weight-bold">
                                        <span
                                            class="text-primary">{{ (countryData.active - countryData.critical) | number}}</span>
                                    </span>
                                    <small class="d-block">in Mild Condition</small>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="card-text">
                                    <span class="font-weight-bold">
                                        <span class="text-danger">{{ countryData.critical | number }}</span>
                                    </span>
                                    <small class="d-block">Serious or Critica</small>
                                </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="graphsParent col-sm-10 col-lg-10 offset-sm-1 offsset-lg-1" *ngIf="activeData">
                            <canvas baseChart [datasets]="activeData" [labels]="activeLabels"
                                [options]="casesChartOptions" [legend]="casesChartLegend" [chartType]="casesChartType"
                                [colors]="casesChartColors" [plugins]="casesChartPlugin"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card p-0 text-center">
                    <div class="card-header font-weight-bold">
                        Closed Cases
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ (countryData.cases - countryData.active) | number}}
                            <small class="text-muted d-block">Cases which had an outcome</small>
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="row text-center">
                            <div class="col-lg-6">
                                <p class="card-text">
                                    <span class="font-weight-bold">
                                        <span class="text-success">{{ countryData.recovered | number}}</span>
                                    </span>
                                    <small class="d-block">Recovered</small>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="card-text">
                                    <span class="font-weight-bold text-muted">{{ countryData.deaths | number }}</span>
                                    <small class="d-block">Deaths</small>
                                </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="graphsParent col-sm-10 col-lg-10 offset-sm-1 offsset-lg-1" *ngIf="closedData">
                            <canvas baseChart [datasets]="closedData" [labels]="closedLabels"
                                [options]="casesChartOptions" [legend]="casesChartLegend" [chartType]="casesChartType"
                                [colors]="casesChartColors" [plugins]="casesChartPlugin"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card p-0 text-center">
                    <div class="card-header font-weight-bold">
                        Today Cases
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ countryData.todayCases | number }}
                            <small class="text-muted d-block">Today Cases</small>
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="row text-center">
                            <div class="col-lg-12">
                                <p class="card-text">
                                    <span class="font-weight-bold">
                                        <span class="text-muted">{{ countryData.todayDeaths | number }}</span>
                                    </span>
                                    <small class="d-block">Deaths</small>
                                </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="graphsParent col-sm-10 col-lg-10 offset-sm-1 offsset-lg-1" *ngIf="todayData">
                            <canvas baseChart [datasets]="todayData" [labels]="todayLabels"
                                [options]="casesChartOptions" [legend]="casesChartLegend" [chartType]="casesChartType"
                                [colors]="casesChartColors" [plugins]="casesChartPlugin"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- countries grapsh for historical data -->
        <app-country-graphs *ngIf="countryData.country" [country]="countryData.country"></app-country-graphs>
    </div>
</div>