<div class="container">
    <h3 class="text-center">Covid-19 Live Statistics {{country}}</h3>
    <div class="bg-white py-4 pl-2 pr-2">
        <div class="card">
            <div class="card-header text-center">
                <div class="">
                    <img src="{{countryData.countryInfo?.flag}}" loading="lazy" alt="flag" class="float-left img-fluid d-inline-block flagImg mr-2">
                    <h3 class="d-inline-block">
                        {{country}} Cases
                        <small class="text-muted updateDate d-block">
                            (Last Update: {{ countryData.updated | date:'MMM d, y, h:mm:ss a' }})
                        </small>
                    </h3>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-12 row mb-3 text-center p-3">
                    <div class="col-lg-4 font-weight-bold">
                        <strong>Total Cases: <span>{{ countryData.cases | number }}</span></strong>
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="col-lg-4 font-weight-bold">
                        <strong>Total Deaths: <span class="text-muted">{{ countryData.deaths |number }}</span></strong>
                        <div class="dropdown-divider"></div>
                    </div>
                    <div class="col-lg-4 font-weight-bold">
                        <strong>Total Recovered: <span class="text-success">{{ countryData.recovered | number }}</span></strong>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="col-lg-4 card p-0 text-center">
                    <div class="card-header font-weight-bold">
                        Active Cases
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ countryData.active | number }}
                            <small class="text-muted d-block">Currently Infected Patients</small>
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="row text-center">
                            <div class="col-lg-6">
                              <p class="card-text">
                                <span class="font-weight-bold">
                                  <span class="text-primary">{{ (countryData.active - countryData.critical) | number}}</span>
                                </span>
                                <small class="d-block">in Mild Condition</small>
                              </p>
                            </div>
                            <div class="col-lg-6">
                              <p class="card-text">
                                <span class="font-weight-bold">
                                  <span class="text-danger">{{ countryData.critical | number }}</span>
                                </span>
                                <small class="d-block">Serious or Critica</small>
                              </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="graphsParent" *ngIf="activeData">
                            <canvas baseChart [datasets]="activeData" [labels]="activeLabels" [options]="casesChartOptions" [legend]="casesChartLegend"
                            [chartType]="casesChartType" [colors]="casesChartColors" [plugins]="casesChartPlugin"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card p-0 text-center">
                    <div class="card-header font-weight-bold">
                        Closed Cases
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ (countryData.cases - countryData.active) | number}}
                            <small class="text-muted d-block">Cases which had an outcome</small>
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="row text-center">
                            <div class="col-lg-6">
                              <p class="card-text">
                                <span class="font-weight-bold">
                                  <span class="text-success">{{ countryData.recovered | number}}</span>                          
                                </span>
                                <small class="d-block">Recovered</small>
                              </p>
                            </div>
                            <div class="col-lg-6">
                              <p class="card-text">
                                <span class="font-weight-bold text-muted">{{ countryData.deaths | number }}</span>
                                <small class="d-block">Deaths</small>
                              </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="graphsParent" *ngIf="closedData">
                            <canvas baseChart [datasets]="closedData" [labels]="closedLabels" [options]="casesChartOptions" [legend]="casesChartLegend"
                            [chartType]="casesChartType" [colors]="casesChartColors" [plugins]="casesChartPlugin"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card p-0 text-center">
                    <div class="card-header font-weight-bold">
                        Today Cases
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ countryData.todayCases | number }}
                            <small class="text-muted d-block">Today Cases</small>
                        </h5>
                        <div class="dropdown-divider"></div>
                        <div class="row text-center">
                            <div class="col-lg-12">
                              <p class="card-text">
                                <span class="font-weight-bold">
                                  <span class="text-muted">{{ countryData.todayDeaths | number }}</span>                       
                                </span>
                                <small class="d-block">Deaths</small>
                              </p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="graphsParent" *ngIf="todayData">
                            <canvas baseChart [datasets]="todayData" [labels]="todayLabels" [options]="casesChartOptions" [legend]="casesChartLegend"
                            [chartType]="casesChartType" [colors]="casesChartColors" [plugins]="casesChartPlugin"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <!-- All Provinces Data -->
            <div class="bg-white rounded p-4">
                <h5 class="mb-3 text-center">Cofirmed Cases and Deaths by provice</h5>
                <!-- search box -->
                <div class="col-lg-3 mb-3   p-0">
                    <input type="text" placeholder="Search  province..." class="form-control searchBox" >
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="text-muted">
                            <tr>
                                <th>Province</th>
                                <th>Total Cases</th>
                                <th>Today Cases</th>
                                <th>Total Deaths</th>
                                <th>Today Deaths</th>
                                <th>Total Recovered</th>
                                <th>Active Cases</th>
                                <th>Critical Cases</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="text-muted">Kabul</span></td>
                                <td>644,348 <span class="percentage">(12%)</span></td>
                                <td>235,1 <span class="percentage">(12%)</span></td>
                                <td>205,83 <span class="percentage">(12%)</span></td>
                                <td>790+ <span class="percentage">(12%)</span></td>
                                <td>303,301 <span class="percentage">(12%)</span></td>
                                <td>500 <span class="percentage">(12%)</span></td>
                                <td>900 <span class="percentage">(12%)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

