.card{
    padding: 0px !important;
}
.graphsParent{
    height: 400px;
}
#swichSpan{
    cursor: pointer;
    font-size: 12px;
}
.span{
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width:430px){
    #mainIcon{
        width: 100px;
        height: 100px;
        margin:0 auto;
    }


}