<div class="alert alert-danger" *ngIf="overAllError">
  <div class="alert-heading font-weight-bold d-inline-block">OOPS!!</div>
  <p class="d-inline-block ml-1">
    Could not load some of the data!
    <span class="alert-link span" (click)="refresh()">please try again.</span>
  </p>
</div>
<app-loading *ngIf="overAllDataLoading"></app-loading>
<div *ngIf="overAllData">
  <!-- <div *ngIf="(overAllData | json) != '{}';then showOverAllData;else noOverAllData"></div> -->


  <div style="background-color: rgb(153, 204, 204,0.7); color:white" class="rounded p-4">
    <div>

    </div>
    <div class="row" *ngIf="overAllData">
      <img src="assets/images/covid-19.svg" class="col-lg-1" loading="lazy" style="margin-top:-10px;" id="mainIcon">
      <h5 class="col-lg-4 text-center font-weight-bold">
        Coronavirus Cases:<br> {{overAllData.cases | number}}
        <div class="dropdown-divider"></div>
      </h5>
      <h5 class="col-lg-3 text-center font-weight-bold">
        Deaths: <br>{{overAllData.deaths | number}}
        <div class="dropdown-divider"></div>
      </h5>
      <h5 class="col-lg-4 text-center font-weight-bold">
        Recovered: <br>{{overAllData.recovered | number}}
        <div class="dropdown-divider"></div>
      </h5>
    </div>

    <div class="row text-dark mt-2">
      <div class="dropdown-divider"></div>
      <div class="card col-lg-4">
        <h5 class="card-header text-center">ACTIVE CASES</h5>
        <div class="card-body">
          <h5 class="card-title text-center">
            {{overAllData.active | number}}
            <small class="text-muted d-block">Currently Infected Patients</small>
          </h5>
          <div class="dropdown-divider"></div>
          <div class="row text-center">
            <div class="col-lg-6">
              <p class="card-text">
                <span class="font-weight-bold">
                  <span class="text-primary">{{(overAllData.active-overAllData.critical) | number}}</span>
                  <!-- <br>({{ (((overAllData.active-overAllData.critical)/overAllData.active)*100).toFixed(1) }}%)  -->
                </span>
                <small class="d-block">Normal Condition</small>
                <circle-progress class="mt-lg-2"
                  [percent]="((overAllData.active-overAllData.critical)/overAllData.active)*100 " [radius]="100"
                  [space]="0" [titleFontSize]="40" [unitsFontSize]="40" [showSubtitle]="false" [responsive]="true"
                  [outerStrokeWidth]="3" [innerStrokeWidth]="2" [outerStrokeColor]="'rgb(153, 204, 204,0.7)'"
                  [innerStrokeColor]="'rgb(153, 204, 204,0.2)'" [animation]="true" [animationDuration]="300"></circle-progress>
              </p>
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-lg-6">
              <p class="card-text">
                <span class="font-weight-bold">
                  <span class="text-danger">{{overAllData.critical | number}}</span>
                  <!-- <br> ({{ ((overAllData.critical/overAllData.active)*100).toFixed(1) }}%)  -->
                </span>
                <small class="d-block">Critical Condition</small>
                <circle-progress class="mt-lg-2" [percent]="(overAllData.critical/overAllData.active)*100"
                  [radius]="100" [space]="0" [titleFontSize]="40" [unitsFontSize]="40" [showSubtitle]="false"
                  [responsive]="true" [outerStrokeWidth]="3" [innerStrokeWidth]="2" [outerStrokeColor]="'rgb(220, 53, 69,0.7)'"
                  [innerStrokeColor]="'rgb(220, 53, 69,0.1)'" [animation]="true" [animationDuration]="300"></circle-progress>
              </p>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-lg-4">
        <h5 class="card-header text-center">CLOSED CASES</h5>
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ (overAllData.cases - overAllData.active) | number }}
            <small class="text-muted d-block">Cases which had an outcome:</small>
          </h5>
          <div class="dropdown-divider"></div>
          <div class="row text-center">
            <div class="col-lg-6">
              <p class="card-text">
                <span class="font-weight-bold">
                  <span class="text-success">{{ overAllData.recovered | number }} </span>
                  <!-- <br>({{ (((overAllData.recovered)/(overAllData.cases - overAllData.active))*100).toFixed(1) }}%) -->
                </span>
                <small class="d-block">Recovered</small>
                <circle-progress class="mt-lg-2"
                  [percent]="((overAllData.recovered)/(overAllData.cases - overAllData.active))*100" [radius]="100"
                  [space]="0" [titleFontSize]="40" [unitsFontSize]="40" [showSubtitle]="false" [responsive]="true"
                  [outerStrokeWidth]="3" [innerStrokeWidth]="2" [outerStrokeColor]="'rgb(40, 167, 69,0.7)'"
                  [innerStrokeColor]="'rgb(40, 167, 69,0.2)'" [animation]="true" [animationDuration]="300"></circle-progress>
              </p>
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-lg-6">
              <p class="card-text">
                <span class="font-weight-bold">{{ overAllData.deaths | number }}
                  <!-- <br>({{ (((overAllData.deaths)/(overAllData.cases - overAllData.active))*100).toFixed(1) }}%)  -->
                </span>
                <small class="d-block">Deaths</small>
                <circle-progress class="mt-lg-2"
                  [percent]="((overAllData.deaths)/(overAllData.cases - overAllData.active))*100" [radius]="100"
                  [space]="0" [titleFontSize]="40" [unitsFontSize]="40" [showSubtitle]="false" [responsive]="true"
                  [outerStrokeWidth]="3" [innerStrokeWidth]="2" [outerStrokeColor]="'rgb(51, 51, 51,0.9)'"
                  [innerStrokeColor]="'rgb(51, 51, 51,0.2)'" [animation]="true" [animationDuration]="300"></circle-progress>
              </p>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-lg-4">
        <h5 class="card-header text-center">TODAYS' CASES</h5>
        <div class="card-body">
          <h5 class="card-title text-center">
            {{ overAllData.todayCases | number }}
            <small class="text-muted d-block">Cases in world</small>
          </h5>
          <div class="dropdown-divider"></div>
          <div class="row text-center">
            <div class="col-lg-12">
              <p class="card-text">
                <span class="font-weight-bold">
                  <span class="text-black">{{ overAllData.todayDeaths | number }} </span> <br>
                  <!-- ({{ ((overAllData.todayDeaths/overAllData.todayCases)*100).toFixed(1) }}%) -->
                </span>
                <small class="d-block">Deaths</small>
                <circle-progress class=" col-lg-7" style="margin-left:-8px"
                  [percent]="(overAllData.todayDeaths/overAllData.todayCases)*100" [radius]="100" [space]="0"
                  [titleFontSize]="40" [unitsFontSize]="40" [showSubtitle]="false" [responsive]="true"
                  [outerStrokeWidth]="3" [innerStrokeWidth]="2" [outerStrokeColor]="'rgb(51, 51, 51,0.7)'"
                  [innerStrokeColor]="'rgb(51, 51, 51,0.2)'" [animation]="true" [animationDuration]="300"></circle-progress>
              </p>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- graphs part for all historical data -->

    <div class="text-dark  mt-2">

      <div class="alert alert-danger" *ngIf="overAllHistoricalError">
        <div class="alert-heading font-weight-bold d-inline-block">OOPS!!</div>
        <p class="d-inline-block ml-1">
          Could not load some of the data!
          <span class="alert-link span" (click)="refresh()">please try again.</span>
        </p>
      </div>

      <app-loading *ngIf="overAllHistoricalDataLoading"></app-loading>

      <div class="row" *ngIf="(overAllHistoricalData | json) != '{}'">
        <div class="dropdown-divider"></div>
        <div class="card col-lg-12 graphsParent">
          <h5 class="card-header text-center" style="font-size: 14px;">Total Cases since 16-March-2020</h5>
          <div class="card-body p-0 pt-1">
            <canvas baseChart [datasets]="allCasesData" [labels]="allCasesLabels" [options]="LineChartOptions"
              [legend]="legend" [chartType]="allCasesChartType" [colors]="allCasesChartColor"
              [plugins]='linerChartPlugins'></canvas>
          </div>
        </div>
        <div class="card col-lg-6 graphsParent">
          <h5 class="card-header text-center" style="font-size: 14px;">Total Recovered since 16-March-2020</h5>
          <div class="card-body p-0 pt-1">
            <canvas baseChart [datasets]="allRecoveredData" [labels]="allRecoveredLabels" [options]="LineChartOptions"
              [legend]="legend" [chartType]="allRecoveredChartType" [colors]="allRecoveredChartColor"
              [plugins]='linerChartPlugins'></canvas>
          </div>
        </div>
        <div class="card col-lg-6 graphsParent">
          <h5 class="card-header text-center" style="font-size: 14px;">Total Deaths since 16-March-2020</h5>
          <div class="card-body p-0 pt-1">
            <canvas baseChart [datasets]="allDeathsData" [labels]="allDeathsLabels" [options]="LineChartOptions"
              [legend]="legend" [chartType]="allDeathsChartType" [colors]="allDeathsChartColor"
              [plugins]='linerChartPlugins'></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>