<app-loading *ngIf="overAllDataLoading"></app-loading>
<div *ngIf="overAllData">
  <div *ngIf="(overAllData | json) != '{}';then showOverAllData;else noOverAllData"></div>
</div>

<ng-template #showOverAllData>
  <div style="background-color: #99cccc; color:white" class="rounded p-4">
    <div>
      
    </div>
    <div class="row">
        <img src="assets/images/covid-19.svg" class="col-lg-1" loading="lazy" style="margin-top:-10px;" id="mainIcon">
        <h5 class="col-lg-4 text-center">Coronavirus Cases:<br> {{overAllData.cases | number}}</h5>
        <h5 class="col-lg-3 text-center">Deaths: <br>{{overAllData.deaths | number}}</h5>
        <h5 class="col-lg-4 text-center">Recovered: <br>{{overAllData.recovered | number}} </h5>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row text-dark">
      <div class="card col-lg-4">
        <h5 class="card-header text-center">ACTIVE CASES</h5>
        <div class="card-body">
            <h5 class="card-title text-center">
              {{overAllData.active | number}}
              <small class="text-muted d-block">Currently Infected Patients</small>
            </h5>
            <div class="row text-center">
                <p class="card-text col-lg-6">
                    <span class="font-weight-bold">
                      <span class="text-primary">{{(overAllData.active-overAllData.critical) | number}}</span>
                      <br>({{ (((overAllData.active-overAllData.critical)/overAllData.active)*100).toFixed(1) }}%) 
                    </span>
                    <small class="d-block">in Mild Condition</small> 
                </p>
                <p class="card-text col-lg-6">
                    <span class="font-weight-bold"> <span class="text-danger">{{overAllData.critical | number}}</span>
                      <br> ({{ ((overAllData.critical/overAllData.active)*100).toFixed(1) }}%) 
                    </span>
                    <small class="d-block">Serious or Critica</small> 
                </p>
            </div>
        </div>
      </div>
      <div class="card col-lg-4">
        <h5 class="card-header text-center">CLOSED CASES</h5>
        <div class="card-body">
            <h5 class="card-title text-center">
              {{ (overAllData.cases - overAllData.active) | number }}
              <small class="text-muted d-block">Cases which had an outcome:</small>
            </h5>
            <div class="row text-center">
                <p class="card-text col-lg-6">
                    <span class="font-weight-bold">
                      <span class="text-success">{{ overAllData.recovered | number }} </span> 
                       <br>({{ (((overAllData.recovered)/(overAllData.cases - overAllData.active))*100).toFixed(1) }}%)
                    </span>
                    <small class="d-block">Recovered</small> 
                </p>
                <p class="card-text col-lg-6">
                    <span class="font-weight-bold">{{ overAllData.deaths | number }}
                      <br>({{ (((overAllData.deaths)/(overAllData.cases - overAllData.active))*100).toFixed(1) }}%) 
                    </span>
                    <small class="d-block">Deaths</small> 
                </p>
            </div>
        </div>
      </div>
      <div class="card col-lg-4">
        <h5 class="card-header text-center">TODAYS' CASES</h5>
        <div class="card-body">
            <h5 class="card-title text-center">
                {{ overAllData.todayCases | number }}
              <small class="text-muted d-block">Cases in world</small>
            </h5>
            <div class="row text-center">
                <p class="card-text col-lg-12">
                    <span class="font-weight-bold">
                      <span class="text-success">{{ overAllData.todayDeaths | number }} </span> <br>
                      ({{ ((overAllData.todayDeaths/overAllData.todayCases)*100).toFixed(1) }}%)
                    </span>
                    <small class="d-block">Deaths</small> 
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

