.card{
    padding: 0px !important;
}
.graphsParent{
    height: 500px;
    // width:100% !important;
}
#swichSpan{
    cursor: pointer;
    font-size: 12px;
}
.span{
    cursor: pointer;
    text-decoration: underline;
}
#mainIcon{
    width: 100px;
    // height: 100px;
    margin:0 auto;
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .abc{
      width: 12px !important;
    }
    body{
      background-color: green;
    }
  
  }
@media screen and (max-width:430px){
    #mainIcon{
        width: 100px;
        height: 100px;
        margin:0 auto;
    }

}