<div class="container-fluid rounded p-lg-3 bg-white">
    <h4 class="text-center p-5">View the latest recommendations for covid19</h4>
    <div class="dropdown-divider"></div>
    <!-- info part -->
    <div class="row p-2">
        <div class="card col-lg-3 mt-2 recomandDiv" data-toggle="modal" data-target="#whatIsCovid">
            <div class="card-body p-0 pt-2 col-lg-12">
                <div class="text-center" style="font-size: 100px;">
                    <img src="assets/images/virus.png" class="img-fluid">
                </div>
                <h5 class="font-weight-bold text-center">What is Covid-19?</h5>
            </div>
        </div>
        <div class="card col-lg-3 mt-2  recomandDiv" data-toggle="modal" data-target="#covidSymptoms">
            <div class="card-body p-0 pt-2 col-lg-12">
                <div class="text-center">
                    <img src="assets/images/symptoms.png" class="img-fluid">
                </div>
                <h5 class="font-weight-bold text-center">What are Symptoms?</h5>
            </div>
        </div>
        <div class="card col-lg-3 mt-2 recomandDiv" data-toggle="modal" data-target="#covidSpread">
            <div class="card-body p-0 pt-2 col-lg-12">
                <div class="text-center">
                    <img src="assets/images/spread.png" class="img-fluid">
                </div>
                <h5 class="font-weight-bold text-center">How Covid-19 Spreads?</h5>
            </div>
        </div>
    </div>
    <div class="row p-2 mt-2">
        <div class="card col-lg-3 mt-2 recomandDiv" data-toggle="modal" data-target="#covidSurface">
            <div class="card-body p-0 pt-2 col-lg-12">
                <div class="text-center">
                    <img src="assets/images/surface.png" class="img-fluid">
                </div>
                <h5 class="font-weight-bold text-center">For How Long It Survive On Surfaces?</h5>
            </div>
        </div>
        <div class="card col-lg-3 mt-2 recomandDiv" data-toggle="modal" data-target="#covidMedicine">
            <div class="card-body p-0 pt-2 col-lg-12">
                <div class="text-center">
                    <img src="assets/images/medic.png" class="img-fluid">
                </div>
                <h5 class="font-weight-bold text-center">Medicines To Cure Covid-19?</h5>
            </div>
        </div>
        <div class="card col-lg-3 mt-2 recomandDiv" data-toggle="modal" data-target="#CovidProtect">
            <div class="card-body p-0 pt-2 col-lg-12">
                <div class="text-center">
                    <img src="assets/images/protect.png" class="img-fluid">
                </div>
                <h5 class="font-weight-bold text-center">How To Protect Our Selves?</h5>
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <!-- <div class="row bg-light mt-4">
        <div class="col-lg-6">
            <h5 class="text-center p-5 mt-5">
                Visit <strong>World Health Organization (WHO)</strong>
                offical facebook page to find more news and recommendations for covid19
            </h5>
        </div>
        <div class="col-lg-6  text-center">
            <iframe class="rouned" loading="lazy"
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWHO%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                width="340" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div> -->
</div>


<app-modals></app-modals>