<!-- What is covid 19 modal -->
<div class="modal fade" id="whatIsCovid" tabindex="-1" role="dialog" aria-labelledby="whatIsCovidTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whatIsCovidTitle">
                    What Is Covid-19 (Cororna Virus)?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Corona Virus:</strong>
                <p>
                    Coronaviruses are a large family of viruses which may cause illness in animals or humans. In humans,
                    several coronaviruses are known to cause respiratory infections ranging from the common cold to more
                    severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory
                    Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.
                </p>
                <strong>Covid-19:</strong>
                <p>
                    COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new
                    virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019.
                </p>
                <small class="text-muted">Sounce:
                    <a href="https://www.who.int" target="_blank">World Health Organization</a>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- What is covid 19 symptoms -->
<div class="modal fade" id="covidSymptoms" tabindex="-1" role="dialog" aria-labelledby="covidSymptomsTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="covidSymptomsTitle">
                    What Are The Symptoms Of Covid-19?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Symptoms:</strong>
                <p>
                    The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have
                    aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually
                    mild and begin gradually. Some people become infected but don’t develop any symptoms and don't feel
                    unwell. Most people (about 80%) recover from the disease without needing special treatment. Around 1
                    out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing.
                    Older people, and those with underlying medical problems like high blood pressure, heart problems or
                    diabetes, are more likely to develop serious illness. People with fever, cough and difficulty
                    breathing should seek medical attention.
                </p>
                <div class="row text-center text-muted mb-4">
                    <div class="col-lg-2 col-4 my-1">
                        Fever
                        <img src="assets/images/fever.png" class="d-block">
                    </div>
                    <div class="col-lg-2 col-4 my-1">
                        Dry cough
                        <img src="assets/images/cough.png" class="d-block">
                    </div>
                    <div class="col-lg-2 col-4 my-1">
                        Pains
                        <img src="assets/images/musleAch.png" class="d-block">
                    </div>
                    <div class="col-lg-2 col-4 my-1">
                        Tired
                        <img src="assets/images/tired.png" class="d-block">
                    </div>
                    <div class="col-lg-2 col-4 my-1">
                        Rainy Nose
                        <img src="assets/images/nose.png" class="d-block">
                    </div>
                    <div class="col-lg-2 col-4 my-1">
                        Diarrhea
                        <img src="assets/images/diarrhea.png" class="d-block">
                    </div>
                </div>
                <small class="text-muted">Sounce:
                    <a href="https://www.who.int" target="_blank">World Health Organization</a>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- How covid 19 spread modal -->
<div class="modal fade" id="covidSpread" tabindex="-1" role="dialog" aria-labelledby="covidSpreadTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="covidSpreadTitle">
                    How Covid-19 Spreads?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    People can catch COVID-19 from others who have the virus. The disease can spread from person to
                    person through small droplets from the nose or mouth which are spread when a person with COVID-19
                    coughs or exhales. These droplets land on objects and surfaces around the person. Other people then
                    catch COVID-19 by touching these objects or surfaces, then touching their eyes, nose or mouth.
                    People can also catch COVID-19 if they breathe in droplets from a person with COVID-19 who coughs
                    out or exhales droplets. This is why it is important to stay more than 1 meter (3 feet) away from a
                    person who is sick.
                </p>
                <strong>Can the virus that causes COVID-19 be transmitted through the air?</strong>
                <p>
                    Studies to date suggest that the virus that causes COVID-19 is mainly transmitted through contact
                    with respiratory droplets rather than through the air.
                </p>
                <strong>Can CoVID-19 be caught from a person who has no symptoms?</strong>
                <p>
                    The main way the disease spreads is through respiratory droplets expelled by someone who is
                    coughing. The risk of catching COVID-19 from someone with no symptoms at all is very low. However,
                    many people with COVID-19 experience only mild symptoms. This is particularly true at the early
                    stages of the disease. It is therefore possible to catch COVID-19 from someone who has, for example,
                    just a mild cough and does not feel ill. WHO is assessing ongoing research on the period of
                    transmission of COVID-19 and will continue to share updated findings.
                </p>
                <strong>Can I catch COVID-19 from the feces of someone with the disease?</strong>
                <p>
                    The risk of catching COVID-19 from the feces of an infected person appears to be low. While initial
                    investigations suggest the virus may be present in feces in some cases, spread through this route is
                    not a main feature of the outbreak. WHO is assessing ongoing research on the ways COVID-19 is spread
                    and will continue to share new findings. Because this is a risk, however, it is another reason to
                    clean hands regularly, after using the bathroom and before eating.
                </p>
                <small class="text-muted">Sounce:
                    <a href="https://www.who.int" target="_blank">World Health Organization</a>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- How covid 19 suvice on surface modal -->
<div class="modal fade" id="covidSurface" tabindex="-1" role="dialog" aria-labelledby="covidSurfaceTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="covidSurfaceTitle">
                    How long does the virus survive on surfaces?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Covid-19 Life Period On surfaces:</strong>
                <p>
                    It is not certain how long the virus that causes COVID-19 survives on surfaces, but it seems to
                    behave like other
                    coronaviruses. Studies suggest that coronaviruses (including preliminary information on the COVID-19
                    virus) may persist
                    on surfaces for a few hours or up to several days. This may vary under different conditions (e.g.
                    type of surface,
                    temperature or humidity of the environment).

                    If you think a surface may be infected, clean it with simple disinfectant to kill the virus and
                    protect yourself and
                    others. Clean your hands with an alcohol-based hand rub or wash them with soap and water. Avoid
                    touching your eyes,
                    mouth, or nose.
                </p>
                <small class="text-muted">Sounce:
                    <a href="https://www.who.int" target="_blank">World Health Organization</a>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- How covid 19 Medcine -->
<div class="modal fade" id="covidMedicine" tabindex="-1" role="dialog" aria-labelledby="covidMedicineTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="covidMedicineTitle">
                    Are there any medicines or therapies that can prevent or cure COVID-19?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Covid-19 Medicine:</strong>
                <p>
                    While some western, traditional or home remedies may provide comfort and alleviate symptoms of
                    COVID-19, there is no evidence that current medicine can prevent or cure the disease. WHO does not
                    recommend self-medication with any medicines, including antibiotics, as a prevention or cure for
                    COVID-19. However, there are several ongoing clinical trials that include both western and
                    traditional medicines. WHO will continue to provide updated information as soon as clinical findings
                    are available.
                </p>
                <small class="text-muted">Sounce:
                    <a href="https://www.who.int" target="_blank">World Health Organization</a>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- How to protect agaist covid 19 -->
<div class="modal fade" id="CovidProtect" tabindex="-1" role="dialog" aria-labelledby="CovidProtectTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CovidProtectTitle">
                    What can I do to protect myself and prevent the spread of disease?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Protection measures for everyone</strong>
                <p>
                    You can reduce your chances of being infected or spreading COVID-19 by taking some simple
                    precautions:
                </p>
                <ul>
                    <li>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with
                        soap and water.
                        Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses
                        that may be on your hands.
                    </li>
                    <li>
                        Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or
                        sneezing.
                        Why? When someone coughs or sneezes they spray small liquid droplets from their nose or mouth
                        which may contain virus. If you are too close, you can breathe in the droplets, including the
                        COVID-19 virus if the person coughing has the disease.
                    </li>
                    <li>
                        Avoid touching eyes, nose and mouth.
                        Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can
                        transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body
                        and can make you sick.
                    </li>
                    <li>
                        Make sure you, and the people around you, follow good respiratory hygiene. This means covering
                        your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the
                        used tissue immediately.
                        Why? Droplets spread virus. By following good respiratory hygiene you protect the people around
                        you from viruses such as cold, flu and COVID-19.
                    </li>
                    <li>
                        Stay home if you feel unwell. If you have a fever, cough and difficulty breathing, seek
                        medical attention and call in advance. Follow the directions of your local health authority.
                        Why? National and local authorities will have the most up to date information on the
                        situation in your area. Calling in advance will allow your health care provider to quickly
                        direct you to the right health facility. This will also protect you and help prevent spread
                        of viruses and other infections.
                    </li>
                    <li>
                        Keep up to date on the latest COVID-19 hotspots (cities or local areas where COVID-19 is
                        spreading widely). If possible, avoid traveling to places
                        <ul>
                            <li>
                                especially if you are an older person or have diabetes, heart or lung disease.
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="row text-center text-muted mb-4">
                    <div class="col-lg-3 col-6 my-1">
                        Wash Hands
                        <img src="assets/images/washHands.png" class="d-block">
                    </div>
                    <div class="col-lg-3 col-6 my-1">
                        Keep Distance
                        <img src="assets/images/distance.png" class="d-block">
                    </div>
                    <div class="col-lg-3 col-6 my-1">
                        Avoid Touching
                        <img src="assets/images/touchEyes.png" class="d-block">
                    </div>
                    <div class="col-lg-3 col-6 my-1">
                        Use Mask
                        <img src="assets/images/mask.png" class="d-block">
                    </div>
                </div>
                <strong>Protection measures for persons who are in or have recently visited (past 14 days) areas where
                    COVID-19 is spreading</strong>
                <ul>
                    <li>
                        Follow the guidance outlined above (Protection measures for everyone)
                    </li>
                    <li>
                        Self-isolate by staying at home if you begin to feel unwell, even with mild symptoms such as
                        headache, low grade fever (37.3 C or above) and slight runny nose, until you recover. If it is
                        essential for you to have someone bring you supplies or to go out, e.g. to buy food, then wear a
                        mask to avoid infecting other people.If you develop fever, cough and difficulty breathing, seek
                        medical advice promptly as this may be due to a respiratory infection or other serious
                        condition. Call in advance and tell your provider of any recent travel or contact with
                        travelers.
                        Why? Calling in advance will allow your health care provider to quickly direct you to the right
                        health facility. This will also help to prevent possible spread of COVID-19 and other viruses.
                    </li>
                    <li>
                        If you develop fever, cough and difficulty breathing, seek medical advice promptly as this may
                        be due to a respiratory infection or other serious condition. Call in advance and tell your
                        provider of any recent travel or contact with travelers.
                        Why? Calling in advance will allow your health care provider to quickly direct you to the right
                        health facility. This will also help to prevent possible spread of COVID-19 and other viruses.
                    </li>
                </ul>
                <div class="row text-center text-muted mb-4">
                    <div class="col-lg-6 col-12 my-1">
                        Stay Home
                        <img src="assets/images/stayHome.png" class="d-block">
                    </div>
                    <div class="col-lg-6 col-12 my-1">
                        Call Health Center If You Feel Not Well 
                        <img src="assets/images/Call.png" class="d-block">
                    </div>
                </div>
                <small class="text-muted">Sounce:
                    <a href="https://www.who.int" target="_blank">World Health Organization</a>
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>