/* You can add global styles to this file, and also import other style files */
/* standard css */


body{
    background-color: #f2f2f2 !important;
    color: #333333;
    font-family: monospace !important;
}
.searchBox{
  height:50px !important; 
}
.updateDateTable{
  font-size: 8px !important;
}
.card-header{
  background-color: #fbfbfb !important;
  padding:12px !important;
}
.dropdown-divider{
  margin-top: 12px !important;
  margin-bottom: 4px !important;
}


.marker{
  // background-color: #d9534f;
  color: #d9534f;
  opacity: 0.9;
  width:20px;
  height: 20px;
  font-size: 20px;
  // color:red;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: red;
    width: 20px;
    height: 20px;
    font-size: 20px;
    opacity:1;
  }
}

.mapboxgl-popup {
  min-width: 260px !important;
  max-width: 400px !important;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  h1{
    font-size: 15px;
    font-weight: bold;
  }
  .dropdown-divider{
    margin:0px !important;
  }
}

.mapboxgl-ctrl-top-right{
  top:35px !important;
}

@media screen and (max-width:640px){
  .container{
    padding: 0px !important;
  }

  .card{
    // padding:0px !important;
    border-left:none !important;
    border-right:none !important;
  }
  .dropdown-divider{
    margin-top: 8px !important;
    margin-bottom: 4px !important;
  }
  

  th{
    font-size: 12px !important;
  }
  td{
      font-size: 12px !important;
  }
  .updateDateTable{
    font-size: 7px !important;
  }
  .percentage{
      font-size: 9px !important; 
  }

  .alert {
      font-size: 12px !important;
  }

}



// spinner part 
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    // background-color: #99cccc;
    background-color: white;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-footer{
  .btn-secondary {
    background-color: #3fbbc0 !important;
    border-color: #3fbbc0 !important;
    color:white !important;
  }
}