.parent{
    position: relative;
}
.box{
    position: relative;
    div.field{
        margin:0 auto;
        margin-bottom: 10px;
        &::after{
            content: "\f13a";
            font-family: FontAwesome;
            position: absolute;
            color: black;
            top: 0px;
            right:15px;
            width:10%;
            height: 100%;
            text-align: center;
            font-size: 28px;
            line-height: 45px;
            pointer-events: none;
            background-color: rgb(153, 204, 204,0.7);
            color: white;
            border-radius:.25rem;
        }
    }
    button {
        height: 50px !important;
        // background-color: rgb(153, 204, 204) !important;
        // border-color: rgb(153, 204, 204) !important;
    }
    [disabled] {
        cursor: not-allowed;
    }
    select {
        position: relative;
        padding: 12px;
        height: 50px !important;
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        outline: none;
        appearance: none;
        option {
            padding: 30px;
        }
    }
}

#swichSpan{
    cursor: pointer;
    font-size: 12px;
}
.span{
    cursor: pointer;
    text-decoration: underline;
}
.charts{
    margin:0 auto;
    
    div{
        height: 400px !important;
    }
}
@media screen and(max-width:640px){
    .row {
        margin-left:  0px !important;
        margin-right:  0px !important;
    }
}