<app-loading *ngIf="loading"></app-loading>
<div class="alert alert-danger text-center" *ngIf="error">
    <div class="alert-heading font-weight-bold d-inline-block">OOPS!!</div>
    <p class="d-inline-block ml-1">
        Could not load some of the data!
        <span class="alert-link span" (click)="refresh()">please try again.</span>
    </p>
</div>
<div class="container rounded bg-white">
    <h4 class="text-center p-4">Compare covid-19 statistics of countries</h4>
    <div class="dropdown-divider"></div>
    <div class="row box ">
        <div class="col-lg-5 field">
            <select class="form-control" [disabled]="loading || error" (change)="selectCountry('searchKeyOne')"
                [(ngModel)]="searchKeyOne">
                <option value="" disabled selected>Select Country...</option>
                <option *ngFor="let country of data" [ngValue]="country.country"
                    [disabled]="country.country  === searchKeyTwo">
                    {{country.country}}
                </option>
            </select>
        </div>
        <div class="col-lg-5 field">
            <select class="form-control" [disabled]="loading || error" (change)="selectCountry('searchKeyTwo')"
                [(ngModel)]="searchKeyTwo">
                <option disabled selected value="">Select Country...</option>
                <option *ngFor="let country of data" [ngValue]="country.country"
                    [disabled]="country.country  === searchKeyOne">
                    {{country.country}}
                </option>
            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-info" [disabled]="!searchKeyOneStatus || !searchKeyTwoStatus || comparing"
                (click)="compareData($event)">Compare</button>
        </div>
    </div>
    <div class="dropdown-divider" style="margin-bottom: 14px;"></div>
    <!-- Charts  -->
    <div *ngIf="!comparing">
        <!-- Bar chart for total cases -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalCasesData">
            <h5 class="text-center mb-2">Total Countries' Positive Cases Comparison Based On World Total Positive Cases</h5>
            <div>
                <canvas baseChart [datasets]="totalCasesData" [labels]="totalCasesLabels" [options]="barChartTotalCasesOptions"
                    [legend]="chartsLegend" [chartType]="barChartType" [colors]="totalCasesColors" [plugins]="chartsPlugin">
                </canvas>
            </div>

        </div>
        <!--Total Cases linear chart for comparing historical Data -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalCasesHistoricalData && linearChartCountryOneData && linearChartCountryTwoData">
            <h5 class="text-center mb-2">Total Countries' Positive Cases Comparison Based On Date</h5>
            <div>
                <canvas baseChart [datasets]="totalCasesHistoricalData" [labels]="totalCasesHistoricalLabels"
                    [options]="linearChartOptions" [legend]="chartsLegend" [chartType]="linearChartType"
                    [colors]="totalCasesHistoricalColors" [plugins]="chartsPlugin">
                </canvas>
            </div>

        </div>
        <!-- Bar Chart for total deaths -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalDeathsData">
            <h5 class="text-center mb-2">Total Countries' Deaths Cases Comparison Based On Countries' Total Positive Cases</h5>
            <div>
                <canvas baseChart [datasets]="totalDeathsData" [labels]="totalDeathsLabels" [options]="barChartOptions"
                    [legend]="chartsLegend" [chartType]="barChartType" [colors]="totalDeathsColors"
                    [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!--Total deaths linear chart for comparing historical Data -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalDeathsHistoricalData && linearChartCountryOneData && linearChartCountryTwoData">
            <h5 class="text-center mb-2">Total Countries' Deaths Cases Comparison Based On Date</h5>
            <div>
                <canvas baseChart [datasets]="totalDeathsHistoricalData" [labels]="totalDeathsHistoricalLabels"
                    [options]="linearChartOptions" [legend]="chartsLegend" [chartType]="linearChartType"
                    [colors]="totalDeathsHistoricalColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!-- Bar Chart for total recovered -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalRecoveredData">
            <h5 class="text-center mb-2">Total Countries' Recovered Cases Comparison Based On Countries' Total Positive Cases</h5>
            <div>
                <canvas baseChart [datasets]="totalRecoveredData" [labels]="totalRecoveredLabels"
                    [options]="barChartOptions" [legend]="chartsLegend" [chartType]="barChartType"
                    [colors]="totalRecoveredColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!--Total recovered linear chart for comparing historical Data -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalRecoveredHistoricalData && linearChartCountryOneData && linearChartCountryTwoData">
            <h5 class="text-center mb-2">Total Countries' Recovered Cases Comparison Based On Date</h5>
            <div>
                <canvas baseChart [datasets]="totalRecoveredHistoricalData" [labels]="totalRecoveredHistoricalLabels"
                    [options]="linearChartOptions" [legend]="chartsLegend" [chartType]="linearChartType"
                    [colors]="totalRecoveredHistoricalColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!-- Bar Chart for New cases and new deaths  -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalNewCasesData">
            <h5 class="text-center mb-2">Total Countries' Today/New Positive Cases Comparison Based On Worlds New Positive Cases</h5>
            <div>
                <canvas baseChart [datasets]="totalNewCasesData" [labels]="totalNewCasesLabels"
                    [options]="barChartTodayCasesOptions" [legend]="chartsLegend" [chartType]="barChartType"
                    [colors]="totalNewCasesColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!-- Bar Chart for  new deaths  -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalNewDeathsData">
            <h5 class="text-center mb-2">Total Countris' Today/New Death Cases Comparison Based On Countries' Total New Positive Cases</h5>
            <div>
                <canvas baseChart [datasets]="totalNewDeathsData" [labels]="totalNewDeathsLabels"
                    [options]="barChartTodayDeathsOptions" [legend]="chartsLegend" [chartType]="barChartType"
                    [colors]="totalNewDeathsColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!-- Bar Chart for New cases and new deaths recovered -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalCasesandDeathsPerMillionData">
            <h5 class="text-center mb-2">Total Positive & Death Cases Comparison Per Countries' One Million Population</h5>
            <div>
                <canvas baseChart [datasets]="totalCasesandDeathsPerMillionData" [labels]="totalCasesandDeathsPerMillionLabels"
                    [options]="barChartTotalCasesAndDeathsMillionOptionsAndTests" [legend]="chartsLegend" [chartType]="barChartType"
                    [colors]="totalCasesandDeathsPerMillionColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
        <!-- Bar Chart for tests per one million -->
        <div class="p-lg-2 pt-4 col-lg-10 col-sm-10 charts mb-5" *ngIf="totalTestsAndPerMillionData">
            <h5 class="text-center mb-2">Total Countries' Tests Comparison Per Countries' One Million Population</h5>
            <div>
                <canvas baseChart [datasets]="totalTestsAndPerMillionData" [labels]="totalTestsAndPerMillionLabels"
                    [options]="barChartTotalCasesAndDeathsMillionOptionsAndTests" [legend]="chartsLegend" [chartType]="barChartType"
                    [colors]="totalTestsAndPerMillionColors" [plugins]="chartsPlugin">
                </canvas>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center mb-2" *ngIf="notFoundErrorOne != null || notFoundErrorTwo != null">
        <div class="alert-heading font-weight-bold d-inline-block">Note!!  Historical Data is not availible </div>
        <p class="d-inline-block ml-1"> 
            {{ notFoundErrorOne }} <br>
            {{ notFoundErrorTwo }}
        </p>
    </div>
</div>